
.tabs {
    display: flex;
    margin: 0.5rem 0 0 0;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #efeffd;
}

.tab {
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 1s;
    width: 25%;
    color: #428cfb;
    /* color: #007bff; */
    z-index: 2;
}

.tab:hover {
    /* background-color: #eee; */
    color: white;
}

.tab.active {
    /* background-color: #ccc; */
    color: white;
}

.indicator {
    /* height: 100%; */
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: #428cfb;
    transition: left 0.3s;
    position: relative;
    bottom: 2.5rem;
    z-index: 1;
    width: 25%;
}